@media (max-width: 1199px){
    .navbar-default .container{
        padding:0 10px;
        width: 100%;
    }
    .navbar-default .navbar-nav > li > a{
        font-size: 12px;
    }

    .navbar-default .navbar-brand{
        font-size: 20px;
    }
}

@media (max-width: 955px) and (min-width: 765px){
    .navbar-default .container{
        padding:0 8px;
        width: 100%;
    }

    .nav > li > a{
        padding: 15px 5px;
    }

    .navbar-default .navbar-nav > li > a{
        font-size: 12px;
    }

    .navbar-default .navbar-brand{
        font-size: 16px;
    }

    .category-left ul, 
    .category-right ul{
        list-style: none;
        margin-top:50px;
        position: relative;
    }

    .dashboard::after{display: none;}
}

@media (max-width: 900px){
    .main-slider{
        height: 50vh;
    }
}

@media (max-width: 765px){
    .dashboard::after{display: none;}

    .category-left, .category-right{
        clear: both;
        width:100%;
        display: block;
    }

    .category-left ul, 
    .category-right ul{
        position: relative;
    }

    .category-left ul li,
    .category-right ul li{
        width: 100%;
        margin: 30px auto;
        text-align: center;
    }

    .category-left ul li::after, .category-right ul li::before{
        display: none;
    }

    #kmipn-about > .section-body {
        height: 150vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
    }

    #kmipn-about > .section-body p{
        font-size: 12px;
    }

    #kmipn-about > .section-body h3{
        font-size: 14px;
    }

    .thumb-galeri img{
        width:100%;
    }
}